# Binaries
/copier
/bin/
/dist/

# Build
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.html
coverage.txt

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
*.code-workspace
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Go
vendor/
